/*canvas {
  border: 1px solid black;
}*/

.heading-primary {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.1em;
  padding: 1em;
  text-transform: uppercase;
}

.invisible {
  display: none;
}
.text-center {
  text-align: center;
}
div {
  margin: 10px;
}
.center-block {
  display: block;
  margin: auto;
}
label {
  padding-right: 10px;
  width: 25%;
  vertical-align: top;
  font: 16px 'Lucida Grande', sans-serif;
}

iframe {
  float: left;
  width: 300px;
  height: 200px;
}

.buttons {
  padding: 1rem;
  background: #f06d06;
  float: left;
}

#videoContainer{
  margin-left: 200px; 
  padding-top:0;
  width:700px;
  margin:auto;
  align-self: center;
  /position: absolute;/
  /z-index: 1;/
}

#videoContainer video{
  width: 700px;
  height: 400px;
  /*filter: blur(125px);   */
}

#rightCirlce{
  float: right;
 }

#leftCircle{
  float:left;
}